<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/tables.css">
  <title><%= pageTitle %></title>
</head>

<body>
  <div class="main__container">
      <div class="hamburger">
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
    </div>
    <header>
      <%- include('../partials/sidebar.ejs') %>
    </header>
    <main>
      <div class="container">
        <h1>Menu page</h1>
        <table class="menu-display">
          <tr>
            <th>Name</th>
            <th>Price</th>
          </tr>
          <% if(locals.data) { %>
            <h2 class="default-topo breaker">Dish</h2>
            <% data.forEach(function(item) { %>
              <% if(item.type === 'Dish') { %>
                <tr>
                    <td><%= item.item_name %></td>
                    <td>₱<%= item.price %></td>
                </tr>
              <% } %>
            <% }); %>
            <% } else { %>
              <h2 class="default-topo breaker">No Data</h2>
              <tr>
                <td>No data</td>
                <td>No data</td>
                <td>No data</td>
              </tr>
            <% } %>
        </table>
        
        <table class="menu-display">
          <tr>
            <th>Name</th>
            <th>Price</th>
          </tr>
          <% if(locals.data) { %>
            <h2 class="default-topo breaker">Drinks</h2>
            <% data.forEach(function(item) { %>
              <% if(item.type === 'Drinks') { %>
                <tr>
                    <td><%= item.item_name %></td>
                    <td>₱<%= item.price %></td>
                </tr>
              <% } %>
            <% }); %>
            <% } else { %>
              <h2 class="default-topo breaker">No Data</h2>
              <tr>
                <td>No data</td>
                <td>No data</td>
                <td>No data</td>
              </tr>
            <% } %>
        </table>

      </div>
    </main>
  </div>
</body>

</html>