<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%= pageTitle %></title>
</head>

<body>
  <div class="main__container">
    <div class="hamburger">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
  </div>
    <header>
      <%- include('../partials/sidebar.ejs') %>
    </header>
    <main>
      <div class="container">
        <h1>Menu Dashboard</h1>
        <div>
          <% if(locals.message) { %>
            <p><%= message %></p>
          <% } %>
          <form action="/menu-edit/create" method="post">
            <input type="text" name="newItemName" placeholder="Item Name">
            <input type="text" name="newPrice" placeholder="Price">
            <input type="text" name="newType" placeholder="Type">
            <input type="submit" value="Submit">
          </form>
        </div>
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>type</th>
                <th>total order</th>
                <th>control</th>
            </tr>
            <% if(locals.data) { %>
                <%for(const item of data) {%>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.item_name %></td>
                    <td><%= item.price %></td>
                    <td><%= item.type %></td>
                    <td><%= item.total_order %></td>
                    <td><a href="/menu-edit/edit<%= item.id %>">Edit</a> <a href="/menu-edit/delete<%= item.id %>">Delete</a></td>
                </tr>
                <% } %>
            <% } %>
        </table>

      </div>
    </main>
  </div>
</body>

</html>