<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title><%= pageTitle %></title>
</head>

<body>
  <div class="main__container">
    <header>
      <%- include('../partials/sidebar.ejs') %>
    </header>

    <main>
      <section>
        <div class="container">
          <h1>Order System Goes Here</h1>
          <form action="/order/check" method="post">
            <input type="hidden" name="user_id" value="<%= user.id %>" />
            <input type="hidden" name="order_by" value="<%= user.full_name %>" />
            <h2>Dish</h2>
            <ul>
              <% if(locals.data) { %>
                <% for(const item of data) { %>
                    <% if(item.type === 'Dish') { %>
                    <li class="default">
                      <p><%= item.item_name %> ₱<%= item.price %></p>
                      <input type="hidden" name="item_name_<%= item.id %>" value="<%= item.item_name %>" />
                      <input type="hidden" name="item_price_<%= item.id %>" value="<%= item.price %>" />
                      <input type="hidden" id="total_price_<%= item.id %>" name="total_price_<%= item.id %>" />
                      <input 
                        style="display: none" 
                        type="number" 
                        name="quantity_<%= item.item_name.replaceAll(' ', '_') %>" 
                        id="quantity_<%= item.id %>" 
                        oninput="updateTotal('quantity_<%= item.id %>', '<%= item.price %>', 'total_<%= item.id %>', 'total_price_<%= item.id %>')"
                      />
                      <span style="display: none;" id="total_<%= item.id %>">Total: ₱0</span>
                      
                      <button type="button" onclick="toggleQuantity('quantity_<%= item.id %>', 'total_<%= item.id %>')">Add to cart</button></li>
                    
                    <% } %>
                <% } %>
              <% } %>
            </ul>
            <h2>Drinks</h2>
            <ul>
                <% if(locals.data) { %>
                    <% for(const item of data) {%>
                        <% if(item.type === 'Drinks') { %>
                          <p><%= item.item_name %> ₱<%= item.price %></p>
                          <input type="hidden" name="item_name_<%= item.id %>" value="<%= item.item_name %>" />
                          <input type="hidden" name="item_price_<%= item.id %>" value="<%= item.price %>" />
                          <input type="hidden" id="total_price_<%= item.id %>" name="total_price_<%= item.id %>" />
                          <input 
                            style="display: none" 
                            type="number" 
                            name="quantity_<%= item.item_name.replaceAll(' ', '_') %>" 
                            id="quantity_<%= item.id %>" 
                            oninput="updateTotal('quantity_<%= item.id %>', '<%= item.price %>', 'total_<%= item.id %>', 'total_price_<%= item.id %>')"
                          />
                          <span style="display: none;" id="total_<%= item.id %>">Total: ₱0</span>
                          
                          <button type="button" onclick="toggleQuantity('quantity_<%= item.id %>', 'total_<%= item.id %>')">Add to cart</button></li>
                        <% } %>
                    <% } %>
                  <% } %>
            </ul>

            <button type="submit" onclick="this.disabled=true; this.form.submit();">Check Order</button>
          </form>
        </div>
      </section>
    </main>
  </div>

  <script src="js/toggleQuantity.js"></script>
</body>

</html>