<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%= pageTitle%></title>
</head>

<body>
  <div class="main__container">
      <div class="hamburger">
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
    </div>
    <header>
      <%- include('../partials/sidebar.ejs') %>
    </header>

    <main>
      <div class="container">
        <section>
          <div class="defaul">
            <h2>Name: <%= user.full_name%></h2>
            <h2>Email: <%= user.email%></h2>
            <% if(user.is_admin) {%>
            <h2>STATUS: ADMIN</h2>
            <% } %>
            <p><%= user.address%></p>
          </div>
          <div>
            <% if(locals.message) { %>
            <p><%= message %></p>
            <% } %>

            <% if(locals.style) { %>
            <div style="display: <%= style %>;" id="password-form">
              <form action="/profile/change-password" method="post">
                <input type="hidden" name="user_id" value="<%= user.id%>">
                <input id="passwordOld" name="passwordOld" type="password" placeholder="Your Current Password">
                <input id="passwordNew" name="passwordNew" type="password" placeholder="Your New Password">
                <input id="passwordReNew" name="passwordReNew" type="password" placeholder="Retype Your New Password">
                <input type="submit" value="Submit">
              </form>
            </div>
            <% } else { %>
            <div style="display: none;" id="password-form">
              <form action="/profile/change-password" method="post">
                <input type="hidden" name="user_id" value="<%= user.id%>">
                <input id="passwordOld" name="passwordOld" type="password" placeholder="Your Current Password">
                <input id="passwordNew" name="passwordNew" type="password" placeholder="Your New Password">
                <input id="passwordReNew" name="passwordReNew" type="password" placeholder="Retype Your New Password">
                <input type="submit" value="Submit">
              </form>
            </div>
            <% } %>


            <button class="chnge_pw">Change your password</button>
          </div>
        </section>

        <section class="breaker">
          <h2>Order Here</h2>
          <table>
            <tr>
              <th>Order ID</th>
              <th>orders</th>
              <th>Total Price</th>
              <th>Status</th>
            </tr>
            <% if(locals.cart) { %>
              <% 
                const user_cart = cart;
                // Step 1: Group items by order_id
                const groupedOrders = user_cart.reduce((acc, order) => {
                  if (!acc[order.order_id]) {
                    acc[order.order_id] = {
                      items: [],
                      total_price: 0,
                      status: order.status
                    };
                  }
                  acc[order.order_id].items.push(`${order.item_name} (${order.quantity})`);
                  acc[order.order_id].total_price += order.total_price;
                  return acc;
                }, {});
  
                // Step 2: Get order IDs
                const orderIDs = Object.keys(groupedOrders);
                
  
                // Step 3: Iterate through each orderID to display them
              %>
              <% orderIDs.forEach(orderID => { 
                const order = groupedOrders[Number(orderID)];
              %>
                <tr>
                  <td><%= orderID %></td>
                  <td>
                    <ul>
                    <% order.items.forEach(item => { %>  
                      <!-- Display each item in list -->
                      <li><%= item %></li>
                    <% }) %>
                    </ul>  
                  </td>
                  <td><%= order.total_price %></td>
                  <td><%= order.status %></td>
                </tr>
              <% })  %>
              <% } %>
          </table>
        </section>
      </div>
    </main>
  </div>

  <script>
    const pwBtn = document.querySelector('.chnge_pw');
    const pOld = document.querySelector('#passwordOld');
    const pNew = document.querySelector('#passwordNew');
    const pReNew = document.querySelector('#passwordReNew');

    function showPasswordForm() {
      const passwordForm = document.querySelector('#password-form');
      if (passwordForm.style.display === 'none') {
        passwordForm.style.display = 'block';
      } else {
        passwordForm.style.display = 'none';
        pOld.value = '';
        pNew.value = '';
        pReNew.value = '';
      }
    }

    pwBtn.addEventListener('click', showPasswordForm)
  </script>
</body>

</html>