<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%= pageTitle %></title>
</head>

<body>
  <div class="main__container">
    <div class="hamburger">
        <div class="bars"></div>
        <div class="bars"></div>
        <div class="bars"></div>
    </div>
    <header>
      <%- include('../partials/sidebar.ejs') %>
    </header>

    <main>
      <div class="container login__section">
        <section class="login-form">
          <h2 class="default-topo">Register</h2>
          <% if(locals.regError) { %>
          <p class="breaker"><%= regError %></p>
          <form class="breaker" action="/register/submit" method="post">
            <input name="uFName" id="uFName" type="text" placeholder=" Your First Name" value="<%= data.fName %>"required>
            <input name="uLName" id="uLName" type="text" placeholder=" Your Last Name" value="<%= data.lName %>" required>
            <input name="uEmail" id="uEmail" type="email" placeholder="Your Email" value="<%= data.email %>" required>
            <input name="uPass" id="uPass" type="password" placeholder="Your Password" required>
            <input name="uRePass" id="uRePass" type="password" placeholder="Retype Your Password" required>
            <div>
              <p class="default-topo label__address">Address</p>
              <textarea name="uAddress" id="uAddress"></textarea>
            </div>
            <input type="submit" id="subBtn" value="Submit">
          </form>
          <% } else { %>
          <form class="breaker" action="/register/submit" method="post">
            <input name="uFName" id="uFName" type="text" placeholder=" Your First Name" required>
            <input name="uLName" id="uLName" type="text" placeholder=" Your Last Name" required>
            <input name="uEmail" id="uEmail" type="email" placeholder="Your Email" required>
            <input name="uPass" id="uPass" type="password" placeholder="Your Password" required>
            <input name="uRePass" id="uRePass" type="password" placeholder="Retype Your Password" required>
            <div>
              <p class="default-topo label__address">Address</p>
              <textarea name="uAddress" id="uAddress"></textarea>
            </div>
            <input type="submit" id="subBtn" value="Submit">
          </form>
          <% } %>
        </section>
      </div>
    </main>
  </div>
</body>

</html>